#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
}

.cabeza {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  height: 300px;
  width: 300px;
  border: 30px solid #e41c5f;
  border-radius: 20%;
}

.mascara {
  background-color: #1e1e1e;
  height: 300px;
  width: 300px;
  border: black;
  border-radius: 10%;
}

.circulomascara {
  position: absolute;
  border: 25px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 45px;
  margin-top: 45px;
}

.cuerpo {
  position: relative;
  background-color: #e41c5f;
  width: 170px;
  height: 200px;
  margin-top: 250px;
  margin-left: -4px;
}

.brazo1 {
  position: absolute;
  background-color: #e41c5f;
  width: 120px;
  height: 50px;
  margin-top: 30px;
  margin-left: 170px;
  border-top-right-radius: 30px;
}
